doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body
    #wrapper
      #header
        .image_wrapper
          img(src="data:image/png;base64," + logo)
        #menu
          ul
            li 
              a(href="http://биржазапчастей.рф/rules") правила
            li
              a(href="http://биржазапчастей.рф/support") техподдержка
            li
              a(href="http://биржазапчастей.рф/contacts") контакты
      #content
        div
          p Здравствуйте,
          div
            div На сайте БиржаЗапчастей.рф появились новые заявки по вашим фильтрам
            div.request_count Новых запросов : #{componentRequests.length}
            div
              a(href="http://биржазапчастей.рф/salesman/requests") Для просмотра заявок, перейдите на сайт
      #footer
          a(href="http://биржазапчастей.рф") биржазапчастей.рф
          
