doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body
    #wrapper
      #header
        .image_wrapper
          img(src="data:image/png;base64," + logo)
        #menu
          ul
            li 
              a(href="http://биржазапчастей.рф/rules") правила
            li
              a(href="http://биржазапчастей.рф/support") техподдержка
            li
              a(href="http://биржазапчастей.рф/contacts") контакты
      #content
        div
          p Здравствуйте,
          if messages && messages.length > 0
            div
              div У вас есть новые сообщения!
              ul
                each message in messages
                  li
                    a(href="#{message.correspondenceUrl}", class="correspondence")= message.componentRequestName 
                    span.badge +#{message.messageCount}
          if componentRequests && componentRequests.length > 0
            div
              div Новые запросы!
              div Новых запросов по вашим фильтрам: #{componentRequests.length}
      #footer
          a(href="http://биржазапчастей.рф") биржазапчастей.рф
          
