doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body
    #wrapper
      #header
        .image_wrapper
          img(src="data:image/png;base64," + logo)
        #menu
          ul
            li 
              a(href="http://биржазапчастей.рф/rules") правила
            li
              a(href="http://биржазапчастей.рф/support") техподдержка
            li
              a(href="http://биржазапчастей.рф/contacts") контакты
      #content
        div
          p Здравствуйте,
          p 
            |Вы были зарегистрированы на сайте  
            |#[a(href='http://биржазапчастей.рф') биржазапчастей.рф]
          p Данные для входа на сайт:
          p
            | Логин: #{login}
            | #[br]
            | Пароль: #{password}
      #footer
          a(href="http://биржазапчастей.рф") биржазапчастей.рф
    
