doctype html
html(lang="en")
    head
        title= "Системное уведомление"
    body
        #page_container
            #main_header
                .header Системное уведомление
            #content
                div
                    each para in paras
                        p #{para}
