html, body {
  font-family: Ubuntu, sans-serif;
}
#main_header {
  background: rgba(0, 0, 0, 0) linear-gradient(#fcfcfc, #cfcfcf) repeat scroll 0 0;
  margin: 10px auto 30px auto;
  border-radius: 8px;
  max-height: 100px;
  min-height: 70px;
  padding-top: 30px;
  width: 70%;
}
#main_header > .header {
  color: #ae0d22;
  font-size: 24pt;
  font-weight: 500;
  padding-left: 2%;
  text-align: left;
}
#content {
  margin: 10px auto 30px auto;
  width: 70%;
}
#content > div {
  margin: auto 7%;
  font-size: 18pt;
  font-weight: 400;
}
