doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body
    #wrapper
      #header
        .image_wrapper
          img(src="data:image/png;base64," + logo)
        #menu
          ul
            li 
              a(href="http://биржазапчастей.рф/rules") правила
            li
              a(href="http://биржазапчастей.рф/support") техподдержка
            li
              a(href="http://биржазапчастей.рф/contacts") контакты
      #content
        div
          p Здравствуйте,
          case daysBeforeExpire
            when '0'
              p Действие вашего тарифного плана истекает #{expiresAt}
            when '3'
            when '2'
              p Действие вашего тарифного плана истекает через #{daysBeforeExpire} дня.
            default
              p Действие вашего тарифного плана истекает через #{daysBeforeExpire} день.
          
      #footer
          a(href="http://биржазапчастей.рф") биржазапчастей.рф
    
